/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary-blue: #0f162d;
    --color-primary-pink: #ca59ff;
    --color-primary-purple: #6c7cff;
    --color-primary-cyan: #2affff;
    --color-primary-yellow: #fff629;

    --color-secondary-white: #ffffff;
    --color-secondary-grey: #272d42;
    --color-secondary-black: #000000;

}